.quote-add {
  flex: 1 1 auto;
  margin-bottom: 0;
}
.form-edit {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form__main-info {
  margin-right: 30px;
}
.form-control {
  margin-bottom: 15px;
  padding: 7px 5px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  outline: none;
  color: #2c3e50;
}
.form-control:focus {
  border: 1px solid #3498db;
  box-shadow: 0 0 2px #3498db;
}
.form-group label {
  margin-bottom:5px;
}
select.form-control {
  background: #fff;
  font-weight: bold;
}
textarea {
  resize:vertical;
  min-height: 150px;
}

::-webkit-input-placeholder {
  color: #bdc3c7;
}
::-moz-placeholder {
  color: #bdc3c7;
}
:-ms-input-placeholder {
  color: #bdc3c7;
}
:-moz-placeholder {
  color: #bdc3c7;
}