.quotes-nav {
  margin-right: 20px;
  padding: 15px 20px 10px;
  background: #00A4F2;
  min-width: 170px;
  border-radius: 5px;
  box-shadow: 0 1px 2px -1px rgba(0,0,0, .6);
}
.quote-nav__list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 10px;
}
.quote-nav__item {
  margin-bottom: 8px;
}
.quote-nav__link {
  color: #fff;
  border-bottom: 1px dashed transparent;
  text-decoration: none;
}
.quote-nav__link.active {
  border-bottom-color: #fff;
}
.category__heading {
  color: #fff;
}