.quote__item, .plank {
  position: relative;
  padding: 15px;
  background: #dfe6e9;
  border-radius: 5px;
  margin-bottom: 15px;
}
.quote__item:last-child {
  margin-bottom: 0;
}
.quote__text {
  border-left: 3px solid #74b9ff;
  padding-left: 10px;
  padding-right: 120px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}
.quote__author {
  padding-top: 10px;
  border-top: 1px dashed #b2bec3;
  font-size: 13px;
  font-style: italic;
  color: #666;
}
.quote__author span {
  font-weight: bold;
}
.quote__controls {
  position: absolute;
  right: 15px;
  top: 15px;
}
.quote__controls button:last-child {
  margin-left: 5px;
}