html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font: 1rem/1.32 'Ubuntu', sans-serif;
}
.wrapper {
  margin: 5px auto 15px;
  max-width: 800px;
}
.header {
  display: flex;
  padding: 15px 0;
  margin-bottom: 15px;
}

.logo {
  max-width: 150px;
}
.logo img {
  max-width: 100%;
}
.top-nav {
  margin-left: auto;
}
.top-nav__list {
  margin: 0;
  padding: 0;
}
.top-nav__item {
  display: inline-block;
  margin-left: 20px;
}
.top-nav__link {
  display: block;
  border-bottom: 1px dashed #2980b9;
  text-decoration: none;
  font-weight: bold;
  color: #34495e;
}
.top-nav__link.active {
  color: #0984e3;
  border-color: #0984e3;
}
.main {
  display: flex;
}
.quotes__list {
  flex-grow: 1;
}
.heading {
  margin: 10px 0 15px;
}
.btn {
  display: inline-block;
  padding: 5px 15px;
  background: #0984e3;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-small {
  font-size: 13px;
  padding: 1px 8px;
}
.btn-danger {
  background: #d63031;
}
.btn-change {
  background: #e67e22;
}